body {
    background: url('../img/seogirlsbckg.png');
}

.config-section {
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 10px;
    width: 500px;
    height: auto;
    overflow: hidden;
    background: #f8f8f8;
    z-index: 2;
    border-right: 1px solid #e7e7e7;
}

.config-title {
    margin: 0 0 10px;
    padding-bottom: 3px;
    border-bottom: 1px solid #e7e7e7;
}

#optionsTable {
    margin-bottom: 30px;
    width: 100%;
}

.option-color-display {
    display: inline-block;
    width: 16px;
    height: 16px;
}

.option-color-display-sm {
    display: inline-block;
    width: 14px;
    height: 14px;
}

.option-color-value {
    padding: 6px;
}

.delete-option-btn, .save-option-btn {
    margin-right: 4px;
}

.config-btn {
    display: block;
    margin: 10px;
}

.config-btn-active {
    margin: 10px 10px 10px 510px;
}

.wheel-canvas {
    display: block;
    margin: 10px auto;
}

.wheel-canvas:hover {
    cursor: pointer;
}

#buttons {
    margin: 10px auto;
    width: 500px;
}

#buttons .btn {
    width: 49%;
}

.optionElement {
    width: 50%;
}

#optionsList {
    list-style: none;
    margin: 5px;
    padding: 0;
}

.optionElement {
    margin: 2px 0;
}

.removeOptionElementBtn {
    margin-right: 5px;
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}

.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events:all;
}

.history-checked {
    text-decoration: line-through;
}

.scrollable {
    height: 90%;
    overflow: auto;
}