<section class="config-section" *ngIf="showConfig || showHistory">
    <options-table [options]="options" [wheel]="wheel" *ngIf="showConfig"></options-table>

    <price-history [records]="priceHistory" *ngIf="showHistory"></price-history>
</section>

<section class="main-content">
    <button class="config-btn btn" (click)="toggleConfigPanel()" [class.config-btn-active]="showConfig || showHistory">
        <span class="glyphicon glyphicon-cog"></span>
    </button>

    <button class="config-btn btn" (click)="toggleHistoryPanel()" [class.config-btn-active]="showConfig || showHistory">
        <span class="glyphicon glyphicon-th-list"></span>
    </button>

    <wheel [options]="options" [history]="priceHistory"></wheel>
</section>